<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Covid-19</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script src="http://www.pureexample.com/js/lib/jquery-1.8.3.min.js" type='text/javascript'></script>  
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/js/flot/excanvas.min.js"></script><![endif]-->
     
    <script type="text/javascript" src="http://www.pureexample.com/js/flot/jquery.flot.min.js"></script>    
    <script type="text/javascript" src="http://www.pureexample.com/js/flot/jquery.flot.symbol.js"></script>
    <script type="text/javascript" src="http://www.pureexample.com/js/flot/jquery.flot.axislabels.js"></script>
    <script type="text/javascript" src="http://www.pureexample.com/js/flot/jquery.flot.logaxis.js"></script>
    <script type="text/javascript" src="http://www.pureexample.com/js/flot/jquery.flot.orderBars.js"></script>
     
    <script type="text/javascript">
	    var data = [{% for i in labels %}[gd({{ i.year }},{{ i.month }},{{ i.day }}),{{ i.deaths }}],{% endfor %}];

	<!-- this for loop is not really working and the xaxis should have dates not UTC values -->
var data2 = [{% for j in values %} [gd({{ j.year }},{{ j.month }},{{ j.day }}),{{ j.cases }}],{% endfor %}]; 	

var dataset = [{ label: "Cases", data: data2, color: "red"},
	{label: "Deaths", data: data, color: "black"}
			];
 
        var options = {
		series: {
			bars: {
				show: true,
				barWidth: 0.01,
				align: "center"
			}
		},
            xaxis: {
		mode: "categories",
		tickLength: 0,
                axisLabel: "Date",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 10
            },
            yaxis: {
		transform: function(v) {return Math.log(v+0.1);},
                axisLabel: "Number Of Incidents",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 3
            },
            legend: {
                noColumns: 0,
                labelBoxBorderColor: "#000000",
                position: "nw"
            },
            grid: {
                hoverable: true,
                borderWidth: 2,
                backgroundColor: { colors: ["#ffffff", "#EDF5FF"] }
            }
        };
 
        $(document).ready(function () {
            $.plot($("#flot-placeholder"), dataset, options);
            $("#flot-placeholder").UseTooltip();
        });
 
        function gd(year, month, day) {
            return new Date(year, month, day).getTime();
        }
 
        var previousPoint = null, previousLabel = null;
 
        $.fn.UseTooltip = function () {
            $(this).bind("plothover", function (event, pos, item) {
                if (item) {
                    if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                        previousPoint = item.dataIndex;
                        previousLabel = item.series.label;
                        $("#tooltip").remove();
 
                        var x = item.datapoint[0];
                        var y = item.datapoint[1];
 
                        var color = item.series.color;
 
                        //console.log(item.series.xaxis.ticks[x].label);                
 
                        showTooltip(item.pageX,
                        item.pageY,
                        color,
                        "<strong>" + item.series.label + "</strong><br>" + item.series.xaxis.ticks[x].label + " : <strong>" + y + "</strong> °C");
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        };
 
        function showTooltip(x, y, color, contents) {
            $('<div id="tooltip">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y - 40,
                left: x - 120,
                border: '2px solid ' + color,
                padding: '3px',
                'font-size': '9px',
                'border-radius': '5px',
                'background-color': '#fff',
                'font-family': 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                opacity: 0.9
            }).appendTo("body").fadeIn(200);
        }
    </script>
</head>
<body>
<div class="container">
	<h3 style="text-align:center;">Germany Graphic is shown.</h3>
	<a href="/" class="btn">Back</a>
    <div style="width:1450px;height:600px;text-align:center;margin:10px">        
        <div id="flot-placeholder" style="width:100%;height:100%;"></div>        
    </div>
</div>
</body>
</html>
