<doctype html="">
    <title>Database</title>
    <head>
        <meta charset="UTF-8">
        <link href="http://cdn.bokeh.org/bokeh/release/bokeh-0.9.0.min.css" rel="stylesheet" type="text/css">
        <script src="http://cdn.bokeh.org/bokeh/release/bokeh-0.9.0.min.js"></script>
    </head>
    <h2>COVID-19 Database</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% from "_formhelpers.html" import render_field %}
    <form method="POST">
        <dl>
            {{ render_field(form.select) }}
            <p>
                {{ render_field(form.search) }}
            </p></dl>
        <p><input type="submit" value="Search">
        </p></form>
</doctype>
