<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta chaset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/style.css" type="text/css" media="screen" /> 
        <title> Greg </title>
        <meta name="description" content="Greg">
    </head>
    <body>
        <div class="container">
            <h1> Helllooo </h1>
            <img src="../static/logo.png" alt="covid" class="logo">
        </div>
    </body>
</html>
